
.menu-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_item {
  flex: 1;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
	align-items: center;
}

.menu_link {

  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .menu-container {
    display: flex;
    flex-direction: row;
  }
 }

 mat-card {
  height: 100%;
 }
