<div class="caixa">
  <div >

    <mat-card>
      <mat-card-title>
        <img src="img/logo_oasis_verde.png">

      </mat-card-title>
      <mat-card-title>

        Login
      </mat-card-title>
    <mat-card-content>
    <form [formGroup]="formLogin" autocomplete="off">
    <p>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Username" formControlName="usernameOrEmail">
        <mat-error *ngIf="getUsernameOrEmail.invalid && (getUsernameOrEmail.dirty || getUsernameOrEmail.touched)">
          <span *ngIf="getUsernameOrEmail.errors.required">Username obrigatorio.</span>
          <span *ngIf="getUsernameOrEmail.errors.minlength">Username must be at least 3 characters long.</span>
          <span *ngIf="getUsernameOrEmail.errors.maxlength">Username must be at least 10 characters long.</span>
        </mat-error>
      </mat-form-field>


    </p>

    <p>
      <mat-form-field appearance="outline">
        <input matInput [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
        <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="getPassword.invalid && (getPassword.dirty || getPassword.touched)">
          <span *ngIf="getPassword.errors.required">Password obrigatorio.</span>
          <span *ngIf="getPassword.errors.minlength">Password must be at least 3 characters long.</span>
          <span *ngIf="getPassword.errors.maxlength">Password must be at least 10 characters long.</span>
        </mat-error>
      </mat-form-field>
    </p>

    <p *ngIf="haErroMsg" class="error">
      {{ erroMsg }}
    </p>

    <div class="button">
      <button (click)="onSubmit()"  mat-raised-button color="primary">Login</button>
    </div>

    </form>
    </mat-card-content>
    </mat-card>


  </div>
  <!-- div >
    <p>
      Form Status: {{ formLogin.status }}
    </p>

    <p>
      Form Value: {{ formLogin.value | json }}
    </p>

  </!-div -->
</div>


