<div class="flexbox-container">

  <!-- HEADER -->
  <div class="flexbox-header">
    <app-header></app-header>
  </div>

  <!-- CONTAINER -->
  <div class="flexbox-content">

    <!-- MENU -->
    <div class="flexbox-menu-left">
      <app-menu-left></app-menu-left>
    </div>

    <!-- MAIN -->
    <div class="flexbox-main">
      <router-outlet />
    </div>

  </div>

  <!-- FOOTER -->
  <div class="flexbox-footer">
    <app-footer ></app-footer >
  </div>



</div>
<!--
  <app-header></app-header>

<div class="flex-content">

  <app-menu-left class="flex-sidebar"></app-menu-left>

  <router-outlet />

</div>


<app-footer></app-footer !>

</div>

-->
