<div class="oa-container" style="margin-bottom: 10px;">

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon (click)="closeClick()">cancel</mat-icon>
    </button>
  </mat-toolbar>

</div>



<div class="titulo"><h6 style="text-align: center;">{{ accao }}</h6></div>

<mat-card appearance="outlined">
<mat-card-content >


  <form  [formGroup]="reservaForm" >
    <div class="flexbox-container">

      <!-- RESTAURANTE -->
      <div class="flexbox-sub-container">
        <div class="flexbox-sub-container-item">

          <!-- SELECT RESTAURANTE-->
          <mat-form-field appearance="outline">
            <mat-label>Restaurante</mat-label>
            <mat-select formControlName="restaurante"  required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of listaRestaurantes" [value]="item.id">
                {{item.nome}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="restaurante.errors?.required">
              <p *ngIf="restaurante.errors.required">Seleciona Restaurante</p>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <!-- QUARTO / NOME -->
      <div class="flexbox-sub-container">

        <!-- SELECT QUARTO-->
        <div class="flexbox-sub-container-item">

          <mat-form-field appearance="outline">
            <mat-label>Quarto</mat-label>
            <mat-select formControlName="quarto"  required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of listaQuartos" [value]="item.id">
                {{item.nome}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="quarto.errors?.required">
              <p *ngIf="quarto.errors.required">Seleciona Quarto</p>
            </mat-error>
          </mat-form-field>

        </div>

        <!-- NOME -->
        <div class="flexbox-sub-container-item">

          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput  formControlName="nome" required>
          </mat-form-field>

        </div>

      </div>

      <!-- N. ADULTO / N. CRIANÇA -->
      <div class="flexbox-sub-container">

        <!-- SELECT N. ADULTO-->
        <div class="flexbox-sub-container-item">

          <mat-form-field appearance="outline">
            <mat-label>N. Adulto</mat-label>
            <mat-select formControlName="paxadulto"  required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of listaNumAdulto" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="paxadulto.errors?.required">
              <p *ngIf="paxadulto.errors.required">Seleciona N. Adulto</p>
            </mat-error>
          </mat-form-field>

        </div>

        <!-- SELECT N. ADULTO-->
        <div class="flexbox-sub-container-item">

          <mat-form-field appearance="outline">
            <mat-label>N. Criança</mat-label>
            <mat-select formControlName="paxcrianca"  required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of listaNumCrianca" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="paxcrianca.errors?.required">
              <p *ngIf="paxcrianca.errors.required">Seleciona N. Criança</p>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <!-- DATA / HORA -->
      <div class="flexbox-sub-container">

        <!-- DATA  -->
        <div class="flexbox-sub-container-item">

          <mat-form-field appearance="outline">
            <mat-label>Data-Hora</mat-label>
            <input matInput formControlName="datareserva"

              [matDatepicker]="dp3"
              (click)="dp3.open()"
              [min]="minDate"
              [max]="maxDate"
              [value]="datareserva.value"
            >
            <mat-datepicker-toggle matSuffix [for]="dp3" [disabled]="false">
              <mat-icon matDatepickerToggleIcon>
                calendar_month
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dp3 [disabled]="false" ></mat-datepicker>
            <mat-hint>DD/MM/YYYY</mat-hint>

          </mat-form-field>

        </div>

        <!-- SELECT HORA-->
        <div class="flexbox-sub-container-item">

          <mat-form-field appearance="outline">
            <mat-label>Hora</mat-label>
            <mat-select  formControlName="hora" required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of listaHoras" [value]="item.id">
                {{item.nome}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="hora.errors?.required">
              <p *ngIf="hora.errors.required">Seleciona Hora</p>
            </mat-error>
          </mat-form-field>



        </div>
      </div>

      <!-- OBSERVAÇÃO -->
      <div class="flexbox-sub-container">
        <div class="flexbox-sub-container-item">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Observação</mat-label>
            <textarea matInput  formControlName="observacao"></textarea>
          </mat-form-field>

        </div>
      </div>

      <!-- BOTOES -->
      <div class="flexbox-sub-container">
        <div class="flexbox-sub-container-item">

          <mat-card-actions class="buttons">

            <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!reservaForm.valid">{{ accao }}</button>
            <button mat-raised-button color="warn" mat-dialog-close >Cancelar</button>

          </mat-card-actions>

        </div>
      </div>

    </div>








  </form>


</mat-card-content>

</mat-card>



<!--

<div class="container-sm" style="background-color: brown;">100% wide until small breakpoint</div>
<div class="container-md" style="background-color: red;">100% wide until medium breakpoint</div>
<div class="container-lg" style="background-color: green;">100% wide until large breakpoint</div>
<div class="container-xl" style="background-color: yellow;">100% wide until extra large breakpoint</div>
<div class="container-xxl" style="background-color: blue;">100% wide until extra extra large breakpoint</div>
<div class="container-fluid" style="background-color: black;">Fluid containers </div>

-->

  <div style="float: right; width:50%;">

    <h3>Form Status</h3>
    <b>status : </b>{{reservaForm.status}}
    <b>valid : </b>{{reservaForm.valid}}
    <b>invalid : </b>{{reservaForm.invalid}}
    <b>touched : </b>{{reservaForm.touched}}
    <b>untouched : </b>{{reservaForm.untouched}}
    <b>pristine : </b>{{reservaForm.pristine}}
    <b>dirty : </b>{{reservaForm.dirty}}
    <b>disabled : </b>{{reservaForm.disabled}}
    <b>enabled : </b>{{reservaForm.enabled}}

    <h3>Form Value</h3>
    {{reservaForm.value |json}}

  </div>











